FREEBSD_NODE_INSTANCE=freebsd-node-01
FREEBSD_NODE_SITE=warsaw-lab
FREEBSD_NODE_RACK=rack-01
FREEBSD_NODE_CLUSTER=freebsd-cluster
FREEBSD_NODE_ROLE=worker
FREEBSD_NODE_ENVIRONMENT=production
FREEBSD_NODE_OS_VERSION=14.4-RELEASE
FREEBSD_NODE_CPU_ARCH=amd64
FREEBSD_NODE_PROVIDER=bare-metal
GCLOUD_HOSTED_METRICS_URL=https://prometheus-prod-XX.grafana.net/api/prom/push
GCLOUD_HOSTED_METRICS_ID=REPLACE
GCLOUD_HOSTED_LOGS_URL=https://logs-prod-XX.grafana.net/loki/api/v1/push
GCLOUD_HOSTED_LOGS_ID=REPLACE
GCLOUD_RW_API_KEY=REPLACE
